<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima explicabo
      odio consectetur aut dolores nisi deleniti temporibus voluptas magnam
      adipisci, fuga asperiores enim natus veritatis ab. Numquam natus dolore
      cupiditate.
    </p>
    <%- include('partials/foot.ejs') %>
  </body>
</html>
