@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1d1d20;
  color: #e1e1e8;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #1e1e2e;
  height: 5rem;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-left: auto;
  list-style: none;
  gap: 2rem;
}

.navbar h1 {
  margin: 0;
}

ul {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background 0.3s;
}

.navbar ul li a:hover {
  background: #2d2d46;
}

.form {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  max-width: 400px;
  margin: auto;
  background: #1e1e2e;
  text-align: center;
  padding: 2rem;
}

.form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form div label {
  font-size: 0.8rem;
  text-align: left;
}

.form div + div {
  margin-top: 1rem;
}

input,
button {
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  width: 100%;
}

button {
  margin-top: 2rem;
  cursor: pointer;
  background: rgb(192, 61, 61);
  color: #e1e1e8;
  text-transform: uppercase;
  transition: filter 0.2s;
  font-weight: bold;
}

button:hover {
  filter: brightness(0.8);
}

h1 {
  font-size: 1.5rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin-left: 2rem;
}

.list li {
  background: #1e1e2e;
  padding: 0.8rem;
  font-size: 1rem;
}

.list li + li {
  margin-top: 0.25rem;
}

.list li a {
  text-decoration: none;
}

.alert {
  padding: 1rem;
  background: rgb(63, 148, 63);
  color: #e1e1e8;
}
